<nav class=" blue darken-1">
    <div class="nav-fixed">
        <a routerLinkActive='blue darken-2' routerLink="/home" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLinkActive=' blue darken-2' routerLink="guide">Guide</a></li>
            <li><a routerLinkActive=' blue darken-2' routerLink="courses">Courses</a></li>
            <li><a routerLinkActive=' blue darken-2' href="#">Teachers</a></li>
            <li><a routerLinkActive=' blue darken-2' href="#">News</a></li>
        </ul>
    </div>
</nav>


<div class="container">
    <router-outlet></router-outlet>
</div>
