

<div class="row">
    
    <div class="col s12 m3">
        <h2>Table of content</h2>
        <ul id="nav-mobile" class="left">
            <li><a href="#">Login</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Teachers</a></li>
            <li><a href="#">News</a></li>
        </ul>
    </div>

    <div class="col s12 col m8 ">
        <div class="guide">
            <h2>Routing</h2>
            <p>Is a process of linking pages on a web app. The way it works 
                can varier form languages.</p>
            <p>In Angular, to manage routing process a <i>.routing.module.ts</i> 
            file is generated which contains routes configurations such as the url and the page to be rendered.</p>

            <h2>How to generate a routing module</h2>
            <p>Since Angular doesn't support routing by default, it must to be <i>hard coded</i> or generate
                at moment a module is generated. Angular is a module framework based and being so, is a 
                good practice to modularize your app in order to make it more easy to maintain or add features.
            </p>
            <p>Let's say you want to generate a module and <i>.routing.module.ts</i> to manage all components related to
            moduleName. To do so, run the following command:</p>

            <div class="examples">
                <code>ng generate module [moduleName] --routing</code>
            </div>
            <p>The above command will generate a moduleName as well a <i>moduleName.routing.module.ts</i> 
                which will looks like this</p>
            <div class="examples">
                <code><pre>{{"
import { NgModule } from '@angular/core';
import { RouterModule, Routes } from '@angular/router'; 

const routes: Routes = [];

@NgModule({
    imports: [RouterModule.forChild(routes)],
    exports: [RouterModule]
})
export class CoursesRoutingModule { }
"}}
                </pre></code>
            </div>

            <h2>How to configure routes</h2>
            <ul>
                <p>Before anything else, you need to</p>
                <li>
                    In your module, import and add the routing module inside imports
                    <div class="examples">
                        <pre>{{ " 
import { CoursesRoutingModule } from './courses-routing.module'; 

imports: [
BrowserModule,
AppRoutingModule,
CoursesModule
],"}}
                        </pre>
                    </div>
                </li>
                <li>Import and add your module into <i>app.module.ts</i> imports</li>
                <li>Add <i>router-outlet</i> tag in the <i>app.component.html</i> to be able
                to use routing in your app.
                <div class="examples">
                    <pre>{{ "
\<div class='container'>
    \<!--each routed component will be displayed here-->
    \<router-outlet>\</router-outlet>
\</div>" }}
                    </pre>
                </div>
            </li>
            </ul>
            <p>After generating the <i>.routing.module.ts</i> module, the next step is configure it.
            There're two scenarios to be aware of when creating routes before to choose a proper way to do it.</p>
            <p>First of all, you need to include <i><b>router-outlet</b></i> tag in <i>parent.component.html</i> in a 
            position where children components will be rendered.</p>
            <b><i>#1. Render one child component at time</i></b>

            <div class="examples">
                <pre>{{"
import { NgModule } from '@angular/core';
import { RouterModule, Routes } from '@angular/router';

import { CoursesComponent } from './../courses.component';
import { CourseDetailsComponent } from './../course-details/course-details.component'; 
import { CourseEditComponent } from './../course-edit/course-edit.component';


const routes: Routes = [
{path: 'courses', component: CoursesComponent},
{path: 'courses/:id/course-details', component: CourseDetailsComponent},
{path: 'courses/:id/course-edit', component: CourseEditComponent},
];

@NgModule({
imports: [RouterModule.forChild(routes)],
exports: [RouterModule]
})
export class CoursesRoutingModule { }"}}
                </pre>
            </div>
            <p>In above example each <i>path</i> will call and render an especific component.</p>

            <b><i>#2. Render parent and child component</i></b>
            <div class="examples">
                <pre>{{"
import { NgModule } from '@angular/core';
import { RouterModule, Routes } from '@angular/router';

import { CoursesComponent } from './../courses.component';
import { CourseDetailsComponent } from './../course-details/course-details.component';
import { CourseEditComponent } from './../course-edit/course-edit.component';

const routes: Routes = [
{path: 'courses', component: CoursesComponent, children: [
    {path: ':id/course-details', component: CourseDetailsComponent},
    {path: ':id/course-edit', component: CourseEditComponent}
]}
]

@NgModule({
imports: [RouterModule.forChild(routes)],
exports: [RouterModule]
})
export class CoursesRoutingModule { }
"}}
                </pre>
            </div>
            <p>In this example, both components will be rendered, however, the usage of 
                <b><i>router-outlet</i></b> tag is required in <i>parent.component.html</i>
                to render the child component.
            </p>
        </div>

        <h2>Defining routes from templates</h2>
        <h5>routerLink</h5>
        <p>From template you want to use the <i><b>routerLink</b></i> attribute instead of 
            the standard <i>href</i>. Note, if you have a dynamic routes in your app, use 
            property-binding instead which receive an array where the first argument is
            base-url and the following will be the parameters.
        </p>
        <div class="examples">
            <pre>
                {{"
    \<!--for static url-->
    \<a routerLink='courses'>

    \<!--routerlinkActive-->
    css-class will be applied only when the link is active
    \<a routerLinkActive='css-class' routerLink='courses'>
        
    
    \<!--for dynamic urls-->
    \<a [routerLink]='['/baseurl', queries]'
                "}}
            </pre>
        </div>

        <h5>Get route url parameters</h5>
        <p>Dynamic links are often used to pass informations to the back-end such as 
            <i>item.id, page, queries, etc.</i> to be processed and render a component 
            accordingly. To get those parameter you first need to
        </p>
        <ul>
            <i>in course-details.component.ts</i>
            <li>
                <p>#1. Import and inject <b>ActivatedRoute</b></p>
            </li>
            <li>
                <p>#2. Subscribe to object params</p>
            </li>
            <li>
                <p>#3. Unsubscribe</p>
            </li>
        </ul>
        <div class="examples">
            <pre>{{"
import { ActivatedRoute } from '@angular/router';
import { Subscription } from 'rxjs';
...

export class CourseDetailsComponent implements OnInit {
    courseName: string = '';
    inscription: Subscription = new Subscription;

    // injecting
    constructor(private route: ActivatedRoute) { }

    //subscribing
    ngOnInit(): void {
    this.inscription = this.route.params.subscribe(
        (param: any) => {
        this.courseName = param['course']
        }
    );
    }

    // unsubscribe
    ngOnDestroy() {
    this.inscription.unsubscribe();
    }
}"}}
            </pre>
        </div>

        <h5>Get query url parameters</h5>
        <p>Queries are passed like an JS object thru<i>queryParams</i> 
        attribute.</p>
        <i>in from.component.html</i>
        <p>Define query parameters as follow: <br>
            <code>
                [routerLink]="['baseurl']"
                [queryParams]={{"{key: value}"}}</code></p>
        <i>in course-details.component.ts</i>
        <p>Repeate all steps from example above, however, 
            replacing <i>params</i> with <i>queryParams</i>
        </p>

        <div class="examples">
            <pre>{{"
import { ActivatedRoute } from '@angular/router';
import { Subscription } from 'rxjs';
...

export class CourseDetailsComponent implements OnInit {
    courseName: string = '';
    inscription: Subscription = new Subscription;

    // injecting
    constructor(private route: Router) { }

    //subscribing
    ngOnInit(): void {
    this.inscription = this.route.queryParams.subscribe(
        (params: any) => {
        this.courseName = params['key']
        }
    );
    }

    // unsubscribe
    ngOnDestroy() {
    this.inscription.unsubscribe();
    }
}"}}
            </pre>
        </div>

        <h5>Imperative routing</h5>
        <p>The imperative routing is a way to redirect to a page 
            directly form <i>.ts</i> file. For redirections first 
            you need to import and inject the <i><b>Router</b></i>
            module form <i>'@angular/router'</i> then create a logic 
            to handle the redirection as in following example.
        </p>
        <div class="examples">
            <pre>{{"
import { ActivatedRoute, Router } from '@angular/router';

constructor(private route: ActivatedRoute,
private router: Router) { }

onNavigate() {
    this.router.navigate(['courses', this.courseName])
}
    "}}
            </pre>
        </div>

        <h2>Load on demand</h2>

        <p>Is known that when a user access to a web page whole content will be downloaded first
            and depending on how big it is can take while and somehow it can be an unwanted issue.
            Here's where <i><b>LazyLoading</b></i> come into picture.
        </p>
        <h5>What is <i>LazyLoading</i></h5>
        <p>Is a way to download only the needed files to render a required informations instead of
            downloading the whole page at once.
        </p>

        <h5>Configuration</h5>
        <p>There're couple steps you want to consider in order to make it workin.</p>
        
        <ul>
            <li><p>#1. Configure baseurl in <i>app-routing.module.ts </i></p>
                <div class="examples">
                    <pre>
                        <code>{{"
const routes: Routes = [
{ path: 'baseurl', loadChildren: () => 
    import('baseurl.module.ts').then(m => m.BaseUrlModule) },
];"}}
                        </code>
                    </pre>
                </div>
                <div class="important">
                    <p><b>IMPORTANT</b>: Remove the <i>BaseUrlModule</i> form import list!</p>
                </div>
            </li>
            <li>
                <p>#2. Configure feature module routing</p>
                <p>You may want to make your routes configurations looks like this</p>
                <div class="examples">
                    <pre>{{"
const routes: Routes = [
{path: '', component: CoursesComponent}, // equivalent to 'baseurl'
{path: 'baseurl/new', component: CourseNewComponent}, // hard coded
{path: 'baseurl/:id/course-details', component: CourseDetailsComponent} // dynamic
];"}}</pre>
                </div>
                <div class="notes">
                    <p>To avoid <i>url-colisions</i>, hard coded url's comes first since the module is 
                    readen line-by-line.</p>
                </div>
            </li>

            <li>
                <p>#3.  Configure <i>html</i> components</p>
                <p>
                    Inside the <i>html</i> components, every link that points to <i>baseurl/params</i>
                    must explicitly point the <i>baseurl</i> as the first parameter. This is valid for 
                    <i><b>imperative navigation</b></i> too.
                </p>

                <div class="examples">
                    <i>[routerLink]="['/baseurl', params]</i>
                </div>
            </li>

        </ul>


    </div>

</div>

